
html, body{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: green;
}

header > span {
    display: inline-block;
}

header ul li {
    float: left;
    list-style-type: none;

}

#dropdown_menu ul{
    display: none;
}
